
.header-md {
    box-shadow: 0px -1px 2px 0px !important;
}

ion-toolbar {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
  
  }

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image: none !important;

}

.title-md {
    direction: rtl;
}


.shop {
    display: flex;
}

.name {
font-family: 'Cairo', sans-serif;

    width: 100%;
}


.shopicon {
    color: #FEA753;
    display: flex;
    align-items: center;
}
