<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title> 
        <div class="shop">
            <div class="name">
                   معاينة الموقع
              </div>
          <div class="shopicon">
              <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
            </div>
            </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <div id="gpsmap"  #gpsmap style="width: 100%; height: 100%;"></div>

  </ion-content>

