<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title> 
          <div class="shop">
              <div class="name">
                    عن التطبيق
                </div>
            <div class="shopicon">
                <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
              </div>
              </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding>

  
<ion-list style="direction: rtl;">


    <div class="logos">
    
    <div class="point">
      <img src="assets/imgs/drug.svg" width="200">
    </div>

    
    </div>
    
    <h2 class="codefor">
     - صيدليتك -
    </h2>
    
    <p class="about">
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    تطبيق الصيدلة الالكترونية يمكنك الان الحصول قسيمة لشراء ادويتك بسرعة يمكنك عن طريق التطبيق معرفة اسعار الادوية السائدة في الاسواق ليس هذا فقط تطبيق صيدليتك يعتبر مرجع طبي بسيط لجميع انواع الادوية حيث يمكنك قبل شراء الدواء من معرفة فوائده وطريقة استعماله وما هية الاعمار التي يستهدفها والمضار تطبيق صيدلتك هوة تطبيق مجاني بلكامل يمكن للجميع استخدامه بدون قيود او شروط
    <i class="fa fa-quote-left" aria-hidden="true"></i>
    
    </p>
    
    
      
      <ion-list-header>
        <p>برعاية</p>
      </ion-list-header>
    
      <ion-item>
          <ion-icon name="md-code-working" item-start></ion-icon> 
          <p> جامعه تكنلوجيا المعلومات والاتصالات</p>
          </ion-item>
    
    
          <ion-item>
              <ion-icon name="medkit" item-start></ion-icon> 
              <p> تطبيق صيدليتك</p>
              </ion-item>
          

    
          <ion-list-header>
              <p>اصحاب المشروع</p>
            </ion-list-header>
    
    
          
    
            <ion-item>
                <ion-icon name="school" item-start></ion-icon> 
                <p>زينب الكبرى عصام خضير</p>
                </ion-item>

                <ion-item>
                    <ion-icon name="school" item-start></ion-icon> 
                    <p>رندة محمد لازم</p>
                    </ion-item>
    
    
    </ion-list>
    

</ion-content>
