<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title> 
          <div class="shop">
              <div class="name">
                      تعديل الدواء
                </div>
            <div class="shopicon">
                <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
              </div>
              </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
  
      <div class="mheader" id="mheader">
  
          <div class="mcontent">
      
                <div class="imagedev" (click)="takePhoto()" [ngStyle]="{'background-image': 'url(' + data.img + ')'}"></div>
              
              <div class="inputs">
              
              <!-- singup view -->
              
              <div class="signupView">
                  
                  <div class="username">
                      <i class="fa fa-heartbeat" aria-hidden="true"></i>
                      <input type="text" placeholder="اسم الدواء" [value]="data.name" id="username" #name  >
                  </div>
              
                  <div class="email">
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <input type="number" placeholder="السعر" [value]="data.price" #price>
                  </div>
  
                  <div class="email">
                          <i class="fa fa-question" aria-hidden="true"></i>
                          <input type="text" placeholder="وصف قصير" [value]="data.short" #short>
                      </div>
  
                  <div class="email">
                  <textarea placeholder="وصف كامل" [value]="data.des" #des></textarea>
                  </div>
              
              
              
                  <div class="sections">
  
                          <button color="dark" ion-button outline (click)="edit(data.key,name.value,price.value,short.value,des.value)" >تعديل الدواء</button>
                          
                  </div>
              
              </div>
  
              </div>
  
              </div>
  
              </div>
  
  
  </ion-content>
  